HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
**/.mvn/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/.idea/
*/logs/
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
spring-boot-captcha/src/main/resources/static/
spring-boot-captcha/src/main/resources/templates/
src/main/resources/static/
src/main/resources/templates/
.gitignore
mvnw
mvnw.cmd
pom.xml
src/main/java/
src/main/resources/application.properties
src/test/
